<section style="font-family:Arial, Helvetica, sans-serif">
    <h4>Dear <%=nameOfUser%>:</h4>
    <div><%=greetingMessage  %> </div>
    <br/><br/>
    <div><%=otherInformation  %> </div>

    <div style="height:20px"></div>
    
      <%- include ('data_table.ejs') %> 
  
  </section>